body {
    font-family: Calibri;
    font-size: 17px;
}

.get_sub {
    float: left;
    margin-right: 7px;
}

.l {
    float: left;
}

.cls {
    clear: both;
}

.sub_comps
{
    margin-left: 27px;
}

.progress_bg
{
    position: fixed;
    top: 0px;
    background-color: rgb(27, 51, 165);
    left: 0px;
    opacity: .4;
    height: 4000px;
    width: 4000px;
     z-index: 200;     
}

.sub_scrn_bg
{
    position: fixed;
    top: 0px;
    background-color: rgb(27, 51, 165);
    left: 0px;
    opacity: .4;
    height: 4000px;
    width: 4000px;
     z-index: 98;     
}

.sub_scrn
{
    position: absolute;
    background-color: rgb(240, 240, 240);
    height: 400px;
    width: 400px;
     z-index: 100;  
     border: solid 4px rgb(80, 100, 217);
     border-radius: 17px;  padding: 17px;
}

.sub_scrn_bg2
{
     z-index: 102;     
}

.sub_scrn2 
{
     z-index: 104;
}

.sub_scrn_topic
{
    font-size: 20px;
}

.rec_prim
{
    cursor: pointer;
    font-size: 22px;
    color: rgb(80, 100, 217);
    border-bottom: solid 1px rgb(177, 177, 177);
}


.rec_sub
{
    font-size: 17px;
    color: rgb(80, 100, 227);
    margin-top: -7px;
}

.srs
{
    cursor: pointer;
    border-bottom: solid 1px rgb(177, 177, 177);
}

.create_sub_comp_img_content
{    
    max-height: 127px;
     max-width: 127px;
      margin-top: 7px;
       margin-bottom: 7px;
}

.comp_img
{
    max-height: 22px;
     max-width: 22px;
      margin-right: 7px;
}

.tree
{
    padding-right: 17px;
    border-right: solid 1px rgb(177, 177, 177);
    float: left;
}

.comp_content
{
    margin-left: -1px;
    padding-left: 17px;
    border-left: solid 1px rgb(177, 177, 177);
    float: left;
}

.edit_comp_img_ 
{
    max-height: 200px;
    max-width: 200px;
}

.edit_comp_img
{
    padding-right: 17px;
    border-right: solid 1px rgb(177, 177, 177);
    float: left;
}

.edit_comp_content
{
    margin-left: -1px;
    padding-left: 17px;
    border-left: solid 1px rgb(177, 177, 177);
    float: left;
} 
