
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/mvc.js"></script>
<link href="~/styles/mvc.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}
<body 
>
    <div 
              onclick="get_sub_comps(0);" 
    >
        get
    </div>

    <div onclick="get2('zebr');"
         >
        get2
    </div>

    <div
           id="sub_comps_0"
    >
       </div>
